@use "./variables/mediaQuery" as *;
@use "./mixins" as *;
@use "./variables/colors" as *;
%reset {
  margin: 0;
  padding: 0;
}
html {
  @include mediaQuery($Tablet_max_width) {
    font-size: 2.75vw;
  }
  @include mediaQuery($XXXlargeScreen_min_width) {
    font-size: 1vw;
  }
}
* {
  @extend %reset;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
.swiper-pagination {
  height: 1.5rem;
  position: initial !important;
  margin-top: 2.375rem;
  @include flex-variant(
    flex,
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 1rem
  );
  .swiper-pagination-bullet {
    width: 0.375rem;
    height: 0.375rem;
    margin: 0 !important;
    background: $white-1 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    outline: 0.5625rem solid $yellow-3;
  }
}
