$white-1: #ffffff;
$white-2: #ffffffb2;
$black-1: #000000;
$black-2: #000e33;
$black-3: #191919;
$black-4: #020202;
$black-5: #382f23;
$grey-1: #ccc;
$grey-2: #efefef;
$grey-3: rgba(25, 25, 25, 0.88);
$grey-4: #4a4a4a;
$grey-5: #a7a7a7;
$grey-6: #454545;
$grey-7: #191919cc;
$grey-8: rgba(239, 239, 239, 0.6);
$grey-9: #2f2f2fb2;
$grey-10: #444444;
$yellow-1: #e2c573;
$yellow-2: #d9bb4c;
$yellow-3: #dec14d;
$ovelay: rgba(0, 0, 0, 0.5);
$cardOverlay: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(201, 165, 66, 0.55) 100%
);
$red-1: #eb1c24;
