//Mobile
$mobile_min_width: "min-width: 320px";
$mobile_max_width: "max-width: 480px";
//Ipad and Tablet
$Tablet_min_width: "min-width: 480px";
$Tablet_max_width: "max-width: 576px";
//Small screens
$smallScreen_min_width: "min-width: 576px";
$smallScreen_max_width: "max-width: 768px";
//Medium screens
$medScreen_min_width: "min-width: 768px";
$medScreen_max_width: "max-width: 992px";
//Desktops and large screens
$largeScreen_min_width: "min-width: 992px";
$largeScreen_max_width: "max-width: 1200px";
//Extra large screens and TV
$XlargeScreen_min_width: "min-width: 1200px";
$XlargeScreen_max_width: "min-width: 1400px";
//Extra extra large screens
$XXlargeScreen_min_width: "min-width: 1400px";
$XXlargeScreen_max_width: "max-width: 2000px";
//4k screens
$XXXlargeScreen_min_width: "min-width: 2000px";
